* {
  font-family: "Times New Roman", Times, serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  background-color: rgb(255, 149, 0);
  font-size: 36px;
  font-weight: bold;
}

ol, ul {
    font-size: 16px;
    line-height: 25px;
}